@model coreMVC.Models.dt_pokemon

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>dt_pokemon</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PokemonName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PokemonName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PokemonAttribute)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PokemonAttribute)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PokemonAtk)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PokemonAtk)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PokemonDef)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PokemonDef)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PokemonVit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PokemonVit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Del)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Del)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PokemonLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PokemonLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PokemonItem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PokemonItem)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
